* {
	margin: 0;
	padding: 0;
}

.w {
	width: 1200px;
	margin: 0 auto;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666;
}

em,
i {
	font-style: normal;
}
a {
	text-decoration: none; 
	color: #666;
}

li {
	list-style: none;
}

input,
button {
	outline: none;
}

a:hover {
	color: #e33333;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	* zoom: 1;
}

img {
	vertical-align: middle;
}
